

.style7895 { 
  margin-right: 900px;
}

.style7337 { 
  margin-right: 900px;
}

.style2642 { 
  margin-right: 900px;
}

.style6445 { 
  margin-right: 950px;
}

.style2905 { 
  margin-top: 950px;
  margin-right: 950px;
}

.style491 { 
  margin-right: 950px;
}

.style5339 { 
  margin-right: 950px;
}