

.style7895 { 
  margin-right: 900px;
}

.style7337 { 
  margin-right: 900px;
}

.style2642 { 
  margin-right: 900px;
}

.style6445 { 
  margin-right: 950px;
}

.style2905 { 
  margin-top: 950px;
  margin-right: 950px;
}

.style491 { 
  margin-right: 950px;
}

.style5339 { 
  margin-right: 950px;
}

.style7121 { 
  margin-right: 450px;
}

.style81 { 
  margin-right: 450px;
}

.style5969 { 
  margin-left: 30px;
  margin-right: 30px;
}